body {
	background: rgb(238, 230, 232);
	height: 100%;
	font-family: Lato, Arial, Verdana;
	font-size: 14px;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 240px;
	background: #27303E;
	height: 100%;
	color: rgb(238, 230, 232);
}

.container {
	margin-top: 15px;
	margin-left: 20px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 14px;
	font-weight: 100;
	margin-top: -20px;
}

.username {
	margin-top: -15px;
}

.networks {
	margin-top: 70px;
	margin-left: -40px;
	font-size: 18px;
	font-weight: 100;
}

.networks li {
	margin-bottom: 15px;
	margin-left: 0px;
	list-style: none;
}

.networks li a {
	color: rgb(238, 230, 232);
	text-decoration: none;
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
}


.networks li a:hover {
	color: rgba(238, 230, 232, 0.6);
}

.networks li .fa {
	margin-right: 10px;
	vertical-align: sub;
}

.page-body {
	margin-left: 260px;
	margin-top: 24px;
	color: #222C3A;
	width: 650px;
	font-size: 16px;
	height: 100%;
	overflow: auto;
}

.page-body a {
	color: rgb(68, 86, 107);
	text-decoration: none;
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
}


.page-body a:hover {
	color: rgba(68, 86, 107, 0.4);
}

.projects {
	list-style: none;
}

.project-link {
	font-variant: small-caps;
	display: block;
}
